@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{height: 100%;}
body{
    height: 100%;
    width: 100%;
    background-color: royalblue;
    font-family: "Roboto", serif;
}
header div h1{
    color: #1e1e1e;
    font-weight: 600;
    text-align: center;
    padding: 1em 0;
    font-size: 37px;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}
main{
    height: 100%;
    width: 100%;
}

#introductionSection{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#introductionSection section {
    max-width: 600px;
}

#introductionSection .startButtonSection  {
    display: flex;
    justify-content: center;
}

/* Button hover effect */
.startButton:hover {
    background-color: rgb(59, 172, 93); /* Change to your desired hover color */
    transition: background-color 0.3s ease; /* Optional: add smooth transition */
}

/* _________ Choose Fate Section _________ */
/* title */
#chooseFateTitle{
    text-align: center;
    font-size: 32px;
    margin-bottom: 2em;
}
/* Icons  */
#chooseFateSection #iconSection section img, img {
    max-width: 100%;
    height: auto;
    transition: transform .7s ease-out;  /* Hover Effect*/
    transition: filter 0.3s ease; /* Clicked Effect*/
}
/* Hover effect when icon is clicked */
#chooseFateSection #iconSection section img:hover {
    transform: scale(1.2);
}
/* Box shadow effect when icon is clicked */
.box-shadow {
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.728)); 
    transform: scale(1.2);
}

/* Button hover effect */
.continueButton:hover, .playAgainButton:hover {
    background-color: rgb(59, 172, 93); /* Change to your desired hover color */
    transition: background-color 0.3s ease; /* Optional: add smooth transition */
}

#finalResults div{
    display: flex;
    justify-content: space-around;
}

#finalResults div section h2{
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    padding-bottom: 24px;
}

#finalResults div section p{
    text-align: center;
    font-size: 22px;
}

#finalResults div section #countdown{
    font-size: 48px;
    font-weight: 700;
}
#announcement{
    font-size: 42px;
    margin-top: 1.4em;
    letter-spacing: .3px;
    font-weight: 600;
    color: yellow;
}